#video-container {
  position: relative;
  width: 600px;
  height: 600px;
  background: url("img/background.png") no-repeat center center;
  background-size: cover;
}

#video-container .content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video-container .female-character {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0;
  width: 700px;
  transition: opacity 1s linear;
}

#video-container .headline1 {
  position: absolute;
  top: 50%;
  left: -600px;
  transform: translate(-50%, -30%) scale(0);
  opacity: 0;
  width: 600px;
  transition: opacity 1s, left 1s;
}

.zoom-in-outro {
  transform: translate(-50%, -30%) scale(1);
  opacity: 0;
  transition: transform 1s;
}

.slide-in-left {
  left: -600px;
  transition: left 1s linear;
}

#video-container .headline2 {
  width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s;
}

#video-container .subheadline {
  width: 800px;
  position: absolute;
  top: 9%;
  right: 0;
  opacity: 0;
  transition: opacity 1s;
}

#video-container .learn-more {
  width: 300px;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: opacity 1s;
}

#video-container .logo {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

#video-container .replay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.slide-in-left {
  left: -400px;
  transition: left 1s linear;
}

.slide-in-right {
  left: 400px;
  transition: left 1s linear;
}

.zoom-in {
  transform: scale(1);
  transition: transform 1s;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 7s linear;
}

.clickable {
  cursor: pointer;
}